body {
  margin: 0;
  min-width: 820px;
  background-color: #000000;
  overflow-x: hidden;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  color: white;
  text-transform: lowercase;
}

h2 > span {
  color: #ffbb00;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #121212;
}

p {
  margin-left: 25px;
  max-width: 553px;
  color: #b3b3b3;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 36px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 22px;
  gap: 10px;
  background: linear-gradient(180deg, #ffbb00 0%, #f2a60c 100%);
  border-radius: 5px;
}
.btn > span {
  width: 153px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #332200;
}

.btn--dark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  background: #121212;
  border-radius: 5px;
}

.btn--dark > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #cccccc;
}

.header {
  display: grid;
  grid-template-columns: 300px, auto;
  grid-template-rows: 1fr;

  width: 100%;
  height: 96px;
  background-color: black;
  /* margin-bottom: 1px; */
}

.logo {
  padding-left: 230px;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
}

.navigation {
  grid-column: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navigation-item {
  color: white;
  font-size: 18px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
}

.introduction {
  width: 100%;
  background-color: white;
  height: 800px;
}

.introduction--bg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 680px;
  background-color: black;
}

.dec {
  align-self: flex-end;
  padding: 40px;
  padding-right: 113px;
  /* background: #2e2e2e;
    transform: rotate(-90deg); */
}

.introduction--info {
  color: white;
  padding-top: 170px;
  max-width: 618px;
  min-width: 600px;
}

.introduction--image {
  margin-right: 140px;
}

.introduction--image > img {
  height: 800px;
  /* padding-right: 140px; */
}

.bicicletas {
  min-height: 743px;
  padding: 70px;
  background-color: white;
}

.bicicletas > h2 {
  padding-left: 112px;
  color: #121212;
}

.bicicletas--showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 48px;
  gap: 6px;
}

.bicicletas--showcase > .bike {
  display: block;
}

.bicicletas--showcase > .bike > .model-name {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicicletas--showcase > .bike > .model-name > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #121212;
}

.bicicletas--showcase > .bike > .price {
  padding-left: 20px;
  color: #595959;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.diferencial {
  background-color: white;
  padding-top: 50px;
}

.diferencial--bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  min-height: 960px;
}

.diferencial--image {
  padding-right: 80px;
}

.diferencial--info {
  padding-left: 15px;
  padding-right: 15px;
  /* max-width: 668px; */
  width: 640px;
  /* max-height: 960px; */
}

.diferencial--info > h4 {
  padding-left: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #b3b3b3;
}

.diferencial--info > h2 {
  color: #ffffff;
}

.diferencial--info > p {
  width: 520px;
}

.diferencial--info > .link {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  color: #ffbb00;
}

.caracteristicas {
  display: flex;
  gap: 40px;
  padding-left: 25px;
  margin-top: 80px;
}

.diferencial--info > .caracteristicas > .feature > h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
}

.diferencial--info > .caracteristicas > .feature > p {
  margin-left: 0;
  padding-right: 18px;
  font-size: 16px;
  line-height: 24px;
}

.parceiros {
  padding-top: 120px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: white;
  height: 500px;
}

.parceiros > h2 {
  margin: 0;
  padding-left: 145px;
  color: #121212;
}

.parceiros > .partners {
  height: 270px;
  /* min-width: 870px; */
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* background-image: url("../img/Linhas.svg"); */
  justify-items: center;
  align-items: center;
  background-color: #d3d3d3;
}

.parceiros > .partners > .item {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.depoimento {
  display: flex;
  align-content: stretch;
}

.depoimento > .image {
  padding-bottom: 0;
  height: 680px;
  width: 740px;
}

.depoimento--info {
  height: 680px;
  width: 100%;
  justify-items: start;
  min-width: 620px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: #ffbb00;
}

.depoimento--info > .text {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  display: flex;
}

.depoimento--info > .text > .rq {
  height: 35px;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 5px;
}
.depoimento--info > .text > .lq {
  padding-bottom: 175px;
  align-self: flex-end;
  height: 35px;
}

.depoimento--info > .text > p {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  color: #332200;
}
.depoimento--info > .text > p > span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  /* p03 */
  color: #a66f00;
}

.depoimento--info > .upleft {
  padding: 40px;
}
.depoimento--info > .lowright {
  padding: 40px;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  align-self: end;
  justify-self: end;
  transform: rotate(-180deg);
}

.seguros--bg {
  background-color: #121212;
  padding-bottom: 60px;
}

.seguros--bg > h2 {
  padding-top: 30px;
  margin: 0;
  padding-left: 220px;
  color: #ffffff;
}

.seguros--info {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 120px;
}

.seguros--panel {
  background-color: black;
  min-width: 400px;
  padding: 32px;
  height: fit-content;
}

.seguros--panel > .top {
  display: flex;
  justify-content: space-between;
  color: #d3d3d3;
}

.seguros--panel > .top > .name-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  /* c06 */
  color: #9c9c9c;
}

.seguros--panel > .top > .name-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  /* p01 */
  color: #ffbb00;
}

.seguros--panel > .top > .price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: right;
  /* identical to box height, or 133% */
  /* w */
  color: #ffffff;
}

.seguros--panel > .mensal {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-align: end;
  color: #9c9c9c;
}

.seguros--panel > ul > li {
  list-style-image: url("../img/li-marker.svg");
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

footer {
  background-color: rgb(0, 0, 0);
  height: 420px;
}

.footer--main {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  margin-left: 230px;
  margin-bottom: 50px;
  padding-top: 40px;
}

.footer--h3 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer--main > .logo {
  align-self: flex-start;
}

.footer--main > .contato {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 16px;
  /* width: 400px;
  min-width: 232px; */
}

.footer--main > .contato > p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
  color: #b3b3b3;
}

.social-media {
  display: flex;
  /* justify-content: space-around; */
  gap: 30px;
}

.footer--main > .informacoes > ul {
  padding-left: 0;
  list-style-type: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
  color: #b3b3b3;
}

.copyright {
  padding-left: 160px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.015em;
  color: #9c9c9c;
}

@media screen and (max-width: 1100px) {
  body {
    overflow-x: visible;
  }

  .header {
    display: grid;
    grid-template-columns: auto, auto;
  }

  .logo {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    padding: 0px !important;
  }

  .seguros--bg > h2 {
    padding-top: 30px;
    margin: 0;
    padding-left: 170px !important;
    color: #ffffff;
  }

  .dec {
    align-self: flex-end;
    padding: 40px;
  }

  .collapsable-image {
    display: none;
  }
  .section-flex {
    justify-content: flex-start;
  }

  .parceiros {
    height: auto;
    padding-bottom: 20px;
  }

  .parceiros > .partners {
    height: 270px;
    /* min-width: 870px; */

    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .depoimento--info > .upleft {
    display: none;
  }
  .depoimento--info > .lowright {
    display: none;
  }

  footer {
    height: auto;
  }
  .footer--main {
    flex-direction: column;
  }
}
/* 
* {
  border: 1px solid red;
} */
